@import 'tailwindcss';

:root {
  --background: #0c0c0d;
  --foreground: #f4f4f5;
  --accent: #5eead4;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Space Mono', monospace;
}

.glow-border {
  border: 1px solid var(--accent);
  box-shadow: 0 0 8px var(--accent);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
